# EditorConfig giúp duy trì định dạng nhất quán giữa các editor và IDE
root = true

[*]
# Đặt mã hóa file là UTF-8
charset = utf-8

# Kí tự xuống dòng
end_of_line = lf

# Sử dụng space thay vì tab
indent_style = space

# Số space cho mỗi lần thụt lề
indent_size = 4

# Độ rộng của tab (chỉ áp dụng nếu indent_style là tab)
tab_width = 4

# Số kí tự tối đa trên mỗi dòng
max_line_length = 80

# Luôn thêm một dòng trống cuối file
insert_final_newline = true

# Loại bỏ các khoảng trắng thừa ở cuối dòng
trim_trailing_whitespace = true

